body {
    /* background-image: url("https://65.media.tumblr.com/7009332a812ecd2cf76829f281db5b40/tumblr_mt81rb5zD21r6aewyo5_1280.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  div.wrapper {
    margin: 50px 0 0 25%;
    width: 940px;
    height: 100%;
  }
  img {
    max-width: 840px;
    margin-top: -80px;
    margin-left: -50px;
  }
  #credits {
    position: relative;
    top: -200px;
    left: 280px;
    color: white;
  }
  /*********************************
    QUOTES PANEL
  *********************************/
  div.quotes {
    background-image: url("http://static.wixstatic.com/media/190eeb_e4e420ef9c607fcc1df0f2583afc11e7.png");
    height: 700px;
    background-repeat: no-repeat;
    margin-top: -40px;
  }
  p#quote {
    padding-top: 150px;
    padding-left: 120px;
    width: 530px;
    font-size: 1.75em;
    font-family: 'Pacifico', cursive;
    color: #8B4513;
  }
  p#author {
    float: right;
    padding-right: 370px;
    margin-top: 40px;
    font-family: "cursive";
    color: #8B4513;
  }
  /********************************
     BUTTONS
  *******************************/
  
  button.new {
    float: right;
    margin: 80px -100px 0 0;
    border: none;
    background-color: #B4662E;
    padding: 8px 20px;
    border-radius: 5px;
    color: beige;
  }
  .new:hover {
    background-color: #8B4513;
  }
  .random:hover {
    background-color: #8B4513;
  }  
  
  i  {
    float: left;
    /*margin: 20px auto;*/
    color: #B4662E;
    margin: 75px 0 0 120px;
  }
  i:hover {
     color: #8B4513;
  }
  