/* globals.css */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global dark theme styles */
:root {
    --background-color: #000;
    --text-color: #fff;
    --secondary-text-color: #c0c0c0;
    --header-background: #1a1a1a;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}